@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply text-[#232323];
  }
  h2 {
    @apply text-4xl font-bold md:text-5xl;
  }
  p {
    @apply text-gray-500;
  }
}

@font-face {
  font-family: "Scandia";
  src: url("./assets/fonts/Scandia-Regular/Scandia-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/Scandia-Regular/Scandia-Regular.woff") format("woff"),
    url("./assets/fonts/Scandia-Regular/Scandia-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Scandia";
  src: url("./assets/fonts/Scandia-Bold/Scandia-Bold.woff2") format("woff2"),
    url("./assets/fonts/Scandia-Bold/Scandia-Bold.woff") format("woff"),
    url("./assets/fonts/Scandia-Bold/Scandia-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Scandia";
  src: url("./assets/fonts/Scandia-Light/Scandia-Light.woff2") format("woff2"),
    url("./assets/fonts/Scandia-Light/Scandia-Light.woff") format("woff"),
    url("./assets/fonts/Scandia-Light/Scandia-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Scandia";
  src: url("./assets/fonts/Scandia-Medium/Scandia-Medium.woff2") format("woff2"),
    url("./assets/fonts/Scandia-Medium/Scandia-Medium.woff") format("woff"),
    url("./assets/fonts/Scandia-Medium/Scandia-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
